{% extends 'base.html.twig' %}
{% block title %}exercice 1{% endblock %}
{% block body %}
    <div class="flex flex-col text-center">
        <h1>Exercice 1</h1>
        <h2>Le numéro et le nom des coureurs Français</h2>
        <table class="flex flex-col items-center ">
            <thead class="">
                <tr>
                    <th class="pr-40">Numero de brassard</th>
                    <th>Prenom</th>
                </tr>
            </thead>
            <tbody>
                {% for coureur in coureurs %}
                    <tr>
                        <td class="pr-52">{{ coureur.num_dossard }}</td>
                        <td class="pl-8">{{ coureur.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}