{% extends 'base.html.twig' %}
{% block title %}exercice 4{% endblock %}
{% block body %}
    <div class="flex flex-col text-center">
        <h1>Exercice 4</h1>
        <h1>Noms des coureurs qui n'ont pas participé au tour</h1>
            <section class="flex justify-center pt-8">
                <div>
                    <b>Nom</b>
                    {% for coureur in coureurs %}
                    <p>{{ coureur.nom }}</p>
                    {% endfor %}
                </div>
            </section>
    </div>
{% endblock %}