{% extends 'base.html.twig' %}
{% block body %}
    <div class="flex flex-col text-center">
        <h1>Exercice 6</h1>
        <h1>Les villes qui ont été le lieu d’un départ d’étape ou d’une arrivée d’étape </h1>
            <section class="flex justify-center pt-8">
                <div>
                    <b>Nom</b>
                    <p>
                        {% for test in data %}
                            <p>{{ test.nom }}</p>
                        {% endfor %}
                    </p>
                </div>
            </section>
    </div>
{% endblock %}