<nav class="bg-gray-900 text-white">
    <div class="container">
        <div class="flex gap-7">
            <a href="{{ path('home') }}">Retour à la selection d'exercice</a>
        </div>
    </div>
</nav>